<%= form_with(model: feed, local: true, url: choose_new_or_edit) do |form| %>

  <% if feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
        <% feed.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :picture %>
    <%= image_tag(feed.picture.url, width: "300") if feed.picture && feed.picture.url %>
    <%= form.file_field :picture, class: "p-3" %>
    <%= form.hidden_field :picture_cache %>
  </div>

  <div class="field mt-3">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
